.hidden {
    display: flex;
    margin-top: 70px;
    opacity: 0;
    position: absolute;
    inset: 0;
    background-color: #9fb6c8;
    height: 830px;
    transition: opacity 1s ease;
}

.nav-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #485669;
    width: 28%;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-container > span {
    font-size: 2rem;
    margin: 30px;
    color: #ffffff;
}  

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    width: 100%;
    background-color: #90a7b8;
}

li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 0;
    width: 200px;
}

a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #1d2837;
}

a:hover {
    color: #61728a;
    transition: 0.2s;
}

.nav-links > hr {
    width: 100%;
    border: 1px solid #485669;;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;

}